/* 모바일 화면을 위한 CSS */
@media (max-width: 767px) {
  /* 기본 스타일 리셋 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'jua', sans-serif;
    color: #fff;
  }
  
  /* 페이지 전체의 배경과 크기 설정 */
  body {
    width: 100%;
    min-height: 100vh;
    background-color: #E4D7B9;
  }
  
  #wrapper {
    min-height: 100%;
  }

  /* 헤더 부분 스타일 */
  header {
    width: 100%;
    height: 6.25rem;
    background-color: #199C6E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo a {
    text-decoration: none;
  }

  /* 로그인 이미지 스타일 */
  .login img {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* 모바일 메뉴 바 스타일 */
  .mobile_menu {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
  }

  .bar {
    width: 1.5625rem;
    height: 0.1875rem;
    border-radius: 0.3125rem;
    background-color: #fff;
  }

  /* 네비게이션 메뉴 스타일 */
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.8125rem;
    padding: 0.9375rem;
    background-color: #199C6E;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu a {
    display: block;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border: 0.0625rem solid #fff;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
    transition: background-color 0.3s;
  }

  .nav-menu a#menu-logo {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    border: none;
  }

  .close-menu {
    position: fixed;
    right: 1.25rem;
    top: 0.9375rem;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: #fff;
    padding: 0.625rem;
    z-index: 10000;
  }


  /* 섹션1 스타일 */
  section#sct1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
  }

  section#sct1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  section#sct1 input[type=button] {
    width: 4.5rem;
    height: 1.8rem;
    text-align: center;
    background-color: #199C6E;
    color: #fff;
    border: 0.0625rem solid #199C6E;
    border-radius: 1.5rem;
  }

  /* 섹션2 스타일 */
  .container {
    position: relative;
    width: 100%;
    height: 12.5rem;
    background-color: #1D6E4E;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  /* 당첨 번호 메뉴 스타일 */
  .win_num_menu {
    display: flex;
    width: 100%;
    height: 1.875rem;
    margin-bottom: 0.3125rem;
  }

  .win_num_menu > li {
    width: 50%;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .win_num_menu > li > a {
    display: block;
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    background-color: #199C6E;
    border: 0.0625rem solid #1D6E4E;
    width: 100%;
    height: 100%;
  }

  .win_num_menu > li.checked > a {
    background-color: #1D6E4E;
  }

  .win_num_menu > li  > div {
    display: none;
  }

  .win_num_menu > li.checked > div {
    display: block;
    position: absolute;
    left: 0;
    top: 1.875rem;
    height: 10.625rem;
    width: 100%;
  }

  /* 슬라이드 스타일 */
  .slide-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: auto;
  }

  .round {
    position: absolute;
    top: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .ball-container {
    position: absolute;
    top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    z-index: 2;
  }
  .ball {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 0.9rem;
    line-height: 1.8rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }

  .yellow {
    background-color: #ffc107; /* 1~10번은 노란색 */
    border-color: #ffc107;
  }
  
  .blue {
    background-color: #035aa6; /* 11~20번은 파란색 */
    border-color: #035aa6;
  }
  
  .red {
    background-color: #dc3545; /* 21~30번은 빨간색 */
    border-color: #dc3545;
  }
  
  .gray {
    background-color: #6c757d; /* 31~40번은 회색 */
    border-color: #6c757d;
  }
  
  .green {
    background-color: #28a745; /* 41~45번은 녹색 */
    border-color: #28a745;
  }

  .prev, .next {
    position: absolute;
    top: 40%;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0.1875rem;
    user-select: none;
    z-index: 3;
  }

  .prev {
    left: 0.95rem;
  }

  .next {
    right: 0.95rem;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
  }

  section#sct3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  /* 탭 메뉴 스타일 */
  .tabmenu {
    display: flex;
    flex-direction: row;
    justify-content:left;
    width: 12.1875rem;
    height: 11.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .tabmenu > li {
    width: 5rem;
    line-height: 1.875rem;
  }

  .tabmenu > li > a {
    display: block;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #199C6E;
    border: 0.0625rem solid #1D6E4E;
    border-bottom: none;
  }

  .tabmenu > li:first-child a {
    border-right: none;
  }

  .tabmenu > li.active > a {
    background-color: #1D6E4E;
  }

  .tabmenu > li div {
    position: absolute;
    left: 0px;
    height: 0;
    overflow: hidden;
  }

  .tabmenu > li.active div {
    width: 12.0625rem;
    height: 9.25rem;
    border: 0.00625rem solid #1D6E4E;
  }

  /* 공지사항, 뉴스, 언론 보도 스타일 */
  .notice ul, .news ul {
    width: 12.0625rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .notice li, .news li {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9375rem;
    margin: 0 0.625rem;
  }

  .notice li:nth-child(even), .news li:nth-child(even) {
    background-color: #199C6E;
  }

  .notice li:hover, .news li:hover {
    font-weight: bold;
  }

  .notice li a, .news li a {
    margin-left: 0.3125rem;
    text-decoration: none;
    color: #000;
  }
  /* 이미지 영역 스타일 */
  .img-container {
    position: relative;
    width: 100%;
    height: 12.5rem;
  }
  #img {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img img {
    max-width: 100%;
    height: auto;
  }
  /* 푸터 스타일 */
  footer {
    position: relative;
    bottom: 0;
    padding-bottom: 32vh;
    background-color: #199C6E;
  }

  /* SNS 공유 아이콘 스타일 */
  .share_sns ul {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  .share_sns li {
    padding-top: 1.5rem;
  }
  .share_sns li:first-child {
    padding-left: 1.5rem;
  }
  
  .share_sns li input {
      width: 2rem;
      height: 2rem;
      
  }
}
